body {
    background: #f0eaea;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px 16px;
    color: #013600;
    line-height: 1.8;
}

#section-a {
    width: 80%;
    margin: auto;
    background: wheat;
}

#subsection-1, #subsection-2 {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}

#subsection-1>div, #subsection-2>div {
    width: 50%;
    margin-top: 16px
}

.img-left>img,.desc-left>p {
    float: right;
    text-align: end;
    margin: 8px 16px 0 16px;
}

img {
    width: 96px;
}

#delivery {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
}

#delivery>img {
    width: 256px;
}