
body {
    font-size: 96px;
}

.marquee {
    height: 128px;
    width: 100%;

    overflow: hidden;
    position: relative;
}

.marquee div {
    display: block;
    width: 400%;
    height: 256px;

    position: absolute;

    overflow: hidden;

    animation: marquee 12s linear infinite;
}

.marquee span {

    float: left;
    width: 100%;
}

@keyframes marquee {
  0% { left: 100%; }
  100% { left: -300%; }
}