
/**************************************** 
        Reseting some parameters
        And setting default values       
*****************************************/
* { margin: 0; padding: 0; text-decoration: none; }
/* Scroll speed */
html { scroll-behavior: smooth; } 
/* link colors std, visited and on hover */
a:link { color: #FBFBFF; }
a:hover { color: #145fa8; }
a:visited { color: #add7e3; }
/* General settings for body */
body { font-family: Arial, Helvetica, sans-serif; font-size: 24px; color: #013600; line-height: 1.5; }

/****************************************************  
        First section with background picture 
*****************************************************/
#image { 
    background-image: url(../img/Store-Aisle.jpg);
    background-size: cover; /* covers the whole display */
    background-position: center;
    height: 100vh; /* Full windows height display */
    display: flex;
    flex-direction: column; /* stacks down elements of section top to bottom */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 30px;
}
/* Main title */
#image h1 { font-size: 40px; }
/* Scroll down button */
#image .button { font-size: 20px; text-decoration: none; color: #013600; border: #013600 1px solid; padding: 8px 16px; border-radius: 6px; margin-top: 28px; }
#image .button:hover { background: #013600; color: #FBFBFF; }

/********************************
        Go to top button
*********************************/

#GoToTopBtn { display: none; position: fixed; bottom: 24px; right: 32px; z-index: 99; font-size: 20px; border: #FBFBFF 2px solid; outline: none; background-color: #013600; color: #FBFBFF; cursor: pointer; padding: 8px 16px; border-radius: 7px; }
#GoToTopBtn:hover { background-color: antiquewhite; color: #013600 }

/***************************************************
        Second section with animated marquee         
****************************************************/
/* Padding, color */
#section-a { /*padding-top: 16px; padding-bottom: 16px;*/ background: #FBFBFF; border-top: grey 8px solid; border-bottom: grey 8px solid; }
/* Marquee parameters */
.marquee { height: 64px; width: 100%; overflow: hidden; position: relative; }
.marquee div { display: block; width: 400%; position: absolute; top: 10%; overflow: hidden; animation: marquee 12s linear infinite; }
.marquee span { font-size: 32px; float: left; width: 100%; }

/***************************************************************
        Third section with Shelves and list of products 
****************************************************************/
#section-b { width: 100%; margin: 0 auto; background: #c0b198; padding-top: 32px; padding-bottom: 32px; border-bottom: grey 8px solid; }
/* Left and Right subsection  */
#subsection-1, #subsection-2 {  margin: auto; display: flex; flex-direction: row; align-items: center; align-content: space-between; }

#subsection-1>div, #subsection-2>div { width: 50%; margin-top: 16px; padding: 16px; }
/* Aligning left images and left description to the right i.e. middle of the screen */
.img-left>img { float: right; margin: 8px 8px 0 8px; }
.desc-left>h4 { float: right; text-align: end; margin: 8px 8px 0 8px; font-size: 28px; }
/* Margins for right description */
.img-right>img { margin: 8px 8px 0 8px; }
.desc-right>h4 { margin: 8px 8px 0 8px; font-size: 28px}
/* Icon sizes */
img { width: 96px; height: 96px; }
/* Title of Shelves section and Free delivery message centered*/
#delivery, #shelves { margin: auto; }
/* Icons and text distributed horizontally */
#delivery>#content, #shelves>#content { margin-top: 32px; display: flex; flex-direction: row; align-content: space-between; align-items: center; justify-content: center; }
/* Icon size */
#content>img { width: 172px; height: 172px; }
/* Extra margin R & L for text */
#content>h2 { margin: 0 16px }

/*******************************************************
        Fourth section Adress, tel. and map info                    
********************************************************/
/* Boxes are display evenlly horizontally */
#section-c { border-top: grey 8px solid; border-bottom: grey 8px solid;} 
/* left and far right boxes have same color */
.box1, .box3 { background: #c0b198; color: #FBFBFF; text-align: center; padding: 24px 24px;}
.box1>h2, .box3>h2 { color: #013600; }
/* centered box */
.box2 { background: #FBFBFF; text-align: center; padding: 48px 24px; }
/* elements in box 3 (map) are aligned vertically */
.map {width: 66%; height: 640px; margin-top: 18px; }


/*******************************************************
        Fifth section intentionnaly left blank                    
********************************************************/
#section-d { padding: 160px 32px 16px; }

/********************************
        Footer section
*********************************/
footer { background: #013600; color: #FBFBFF; padding: 48px 50px 96px 50px; text-align: center; }
footer div{margin: 16px 0 48px; }


/********************************
        Marquee Keyframe
*********************************/
@keyframes marquee { 0% { left: 100%; } 100% { left: -300%; } }

/********************************
        Media queeries
*********************************/

@media screen and (max-width: 1280px) {
    body { font-size: 22px; }
    #image h1 { font-size: 36px; } /* Title fon reduced from 96 to 89px */
    #image .button, #GoToTopBtn { font-size: 18px; padding: 7px 14px; border-radius: 5px; }
    #image .button { margin-top: 24x; }

    .marquee {height: 60px; }
    .marquee span { font-size: 30px; }

    #content>img { width: 84px; height: 84px; }
    #content>h2 { font-size: 32px }  
    #subsection-1>div, #subsection-2>div { width: 50%; margin-top: 16px; padding: 5px 8px; }
    .desc-right>h4, .desc-left>h4 { font-size: 26px; }
    .img-left>img, .img-right>img { width: 62px; height: 62px; margin: 8px 8px 0 8px; }
    #section-b { padding: 5px 0px; }

    .map { height: 512px }

@media screen and (max-width: 1170px) {
    body { font-size: 18px; }
    #image h1 { font-size: 32px; } /* Title fon reduced from 96 to 81px */
    #image .button, #GoToTopBtn { font-size: 16px; padding: 6px 12px; border-radius: 4px; }
    #image .button { margin-top: 22px; }

    .marquee {height: 54px; }
    .marquee span { font-size: 27px; }

    #content>img { width: 84px; height: 84px; }
    #content>h2 { font-size: 32px }  
    #subsection-1>div, #subsection-2>div { width: 50%; margin-top: 16px; padding: 5px 8px; }
    .desc-right>h4, .desc-left>h4 { font-size: 24px; }
    .img-left>img, .img-right>img { width: 62px; height: 62px; margin: 8px 8px 0 8px; }
    #section-b { padding: 5px 0px; }

    #section-c { display: block; }
    #section-c .box1, #section-c .box2, #section-c .box3 { font-size: 21px; padding: 18px 18px;}
    .map { height: 356px }

@media screen and (max-width: 768px) {
    body { font-size: 18px; }
    #image h1 { font-size: 32px; }
    #image .button, #GoToTopBtn { font-size: 16px; padding: 6px 12px; border-radius: 4px; }
    #image .button { margin-top: 22px }

    .marquee {height: 42px; }
    .marquee span { font-size: 21px; }

    #content>img { width: 64px; height: 64px; }
    #content>h2 { font-size: 24px }  
    #subsection-1>div, #subsection-2>div { width: 50%; margin-top: 21px; padding: 5px 8px; }
    .desc-right>h4, .desc-left>h4 { font-size: 18px; }
    .img-left>img, .img-right>img { width: 48px; height: 48px; margin: 8px 8px 0 8px; }
    #section-b { padding: 5px 0px; }

    #section-c { display: block; }
    #section-c .box1, #section-c .box2, #section-c .box3 { font-size: 21px; padding: 14px 14px;}
    .map {width: 90%; height: 575px;}
}

@media screen and (max-width: 500px) {
    body { font-size: 18px; }
    #image h1 { font-size: 32px; }   
    #image .button , #GoToTopBtn { font-size: 16px; padding: 6px 12px; border-radius: 3px;  } 
    #image .button { margin-top: 16px; }

    .marquee {height: 36px; }
    .marquee span { font-size: 18px; }

    #content>img { width: 64px; height: 64px; }
    #content>h2 { font-size: 24px }  
    #subsection-1>div, #subsection-2>div { width: 50%; margin-top: 16px; padding: 5px 8px; }
    .desc-right>h4, .desc-left>h4 { font-size: 18px; }
    .img-left>img, .img-right>img { width: 48px; height: 48px; margin: 8px 8px 0 8px; }
    #section-b { padding: 5px 0px; }

    #section-c { display: block; }
    #section-c .box1, #section-c .box2, #section-c .box3 { font-size: 16px; padding: 12px 12px;}
    .map {width: 90%; height: 380px;}
}
  
@media screen and (max-width: 375px) {

    body { font-size: 12px; }
    #image h1 { font-size: 24px; }    
    #image .button, #GoToTopBtn{ font-size: 12px; padding: 5px 10px; border-radius: 3px; }
    #image .button { margin-top: 14px; }

    .marquee {height: 36px; }
    .marquee span { font-size: 18px; }

    #content>img { width: 48px; height: 48px; }
    #content>h2 { font-size: 18px }  
    #subsection-1>div, #subsection-2>div { width: 50%; margin-top: 16px; padding: 5px 8px; }
    .desc-right>h4, .desc-left>h4 { font-size: 14px; }
    .img-left>img, .img-right>img { width: 36px; height: 36px; margin: 8px 8px 0 8px; }
    #section-b { padding: 5px 0px; }

    #section-c { display: block; }
    #section-c .box1, #section-c .box2, #section-c .box3 { font-size: 16px; padding: 12px 12px;}
    .map {width: 90%; height: 294px;}
}